{{ 'custom-hero.css' | asset_url | stylesheet_tag }}

<div class="custom-hero-wrapper page-width">
  <div class="hero-text-wrapper">
    <div class="hero-text">
      <h1>Elevate Your Wellness</h1>
      <p>Natural Products for a Balanced Life</p>
      <a role="button" aria-label="Explore Our Products" class="hero-cta" href="/collections/all"
        >Explore Our Products</a
      >
    </div>
  </div>

  <div class="hero-image">
    <img
      src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
      alt="temp placeholder"
      width="100"
      height="100"
    >
  </div>
</div>

{% schema %}
{
  "name": "Custom Hero",
  "settings": [],
  "presets": [{ "name": "Custom Hero" }]
}
{% endschema %}
