<style></style>

<footer>
  <div>
    {{ section.settings.footer_branding | image_url: width: 200 | image_tag }}
  </div>
</footer>

{% schema %}
{
  "name": "Custom Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_branding",
      "label": "Footer Branding"
    }
  ],
  "presets": [{ "name": "Custom Hero" }]
}
{% endschema %}
