.contact-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-title {
  font-size: 32px;
}

.contact-subheading {
  font-size: 16px;
  font-weight: 400;
}

.contact-subheading a {
  text-decoration: none;
  color: #c85817;
  cursor: pointer;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-copy {
  flex: 0.8;
}

.contact-form-container {
  flex: 1;
  position: relative;
}

.form-row--two {
  display: flex;
  gap: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.contact-form input {
  height: 48px;
  padding: 12px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Satoshi', sans-serif;
}

.contact-form textarea {
  height: 200px;
  resize: vertical;
  padding: 12px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Satoshi', sans-serif;
  resize: none;
}

.field-error {
  color: #292929;
  font-size: 14px;
  margin: 0;
}

.contact-submit {
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 48px;
  font-weight: 500;
  font-family: 'Satoshi', sans-serif;
  font-size: 18px;
}

.contact-error-icon {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-error-icon svg {
  width: 100%;
  height: 100%;
}

.contact-error-container {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}

.form-success {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.success-heading {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0;
  margin: 0;
}

.success-subheading {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
  color: #292929;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-copy {
    flex: 1;
  }

  .contact-form-container {
    width: 100%;
  }

  .form-row--two {
    display: block;
  }
}
