.footer-section {
  padding: 40px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

/* company info */
.footer-company-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.footer-email {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
}

.footer-social {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link img {
  width: 20px;
  height: 20px;
}

/* nav group / newsletter formatting*/
.nav-news-format {
  flex: 1;
  display: flex;
  gap: 32px;
}

/* nav group */
.footer-nav-groups {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.footer-nav-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav-title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  font-weight: 400;
}

.footer-nav-link:hover {
  color: #c85817;
}

/* newsletter */
.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.footer-newsletter-input {
  border: none;
  outline: none;
  height: 32px;
  width: 250px;
  padding: 12px;
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  border-radius: 4px;
}

.footer-newsletter-button {
  border: none;
  outline: none;
  height: 32px;
  width: 250px;
  padding: 12px;
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.footer-news-confirm {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.footer-news-confirm h3 {
  margin: 0;
  color: #c85817;
  font-family: 'Cabinet Grotesk', sans-serif;
  letter-spacing: 0;
  font-weight: 500;
}

.footer-news-error-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-email-error-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

.footer-email-error {
  font-size: 12px;
  font-weight: 500;
}

.footer-newsletter-input:focus,
.footer-newsletter-button:focus {
  outline: 2px solid #c85817;
}

/* responsive */
@media (max-width: 900px) {
  .nav-news-format {
    flex-direction: column;
  }

  .footer-newsletter-input,
  .footer-newsletter-button {
    width: 100%;
    height: 48px;
  }
}

@media (max-width: 480px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-nav-groups {
    grid-template-columns: 1fr;
  }

  /* company info */
  .footer-company-info {
    align-items: center;
  }

  .footer-email {
    font-size: 16px;
  }

  .footer-social-link img {
    width: 24px;
    height: 24px;
  }

  /* nav groups */
  .footer-nav-group {
    align-items: center;
  }

  .footer-nav-list li {
    text-align: center;
  }

  .footer-nav-title {
    font-size: 22px;
  }

  .footer-nav-link {
    font-size: 14px;
  }

  /* newsletter */
  h4.footer-nav-title {
    text-align: center;
  }
}
