.newsletter-section {
  padding-top: 32px;
  padding-bottom: 0px;
}

.newsletter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 32px;
}

.newsletter-title {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  color: #292929;
  letter-spacing: 0;
}

.newsletter-subheading {
  font-size: 16px;
  margin-bottom: 24px;
  margin: 0;
  color: #292929;
  font-weight: 400;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsletter-input {
  padding: 12px;
  width: 100%;
  border: 2px solid #492929;
  border-radius: 4px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
}

.newsletter-button {
  padding: 12px 24px;
  border: none;
  background-color: #c85a17;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Satoshi', sans-serif;
}

.newsletter-input:focus,
.newsletter-button:focus {
  outline: 2px solid #c85a17;
}

.newsletter-image img {
  width: 100%;
  height: auto;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 768px) {
  .newsletter-wrapper {
    grid-template-columns: 1fr;
  }
}
