.newsletter-section {
  padding-top: 44px;
  padding-bottom: 44px;
}

.newsletter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 32px;
}

.newsletter-title {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  color: #292929;
  letter-spacing: 0;
}

.newsletter-subheading {
  font-size: 16px;
  margin-bottom: 24px;
  margin: 0;
  color: #292929;
  font-weight: 400;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  height: 100%;
  justify-content: center;
  flex: 1;
}

.newsletter-input {
  padding: 12px;
  width: 100%;
  border: 2px solid #492929;
  border-radius: 4px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
}

.newsletter-button {
  padding: 12px 24px;
  border: none;
  background-color: #c85a17;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Satoshi', sans-serif;
}

.newsletter-button:hover {
  background-color: #e66a1c;
}

.newsletter-input:focus,
.newsletter-button:focus {
  outline: 2px solid #c85a17;
}

.newsletter-image {
  width: 100%;
  height: 100%;
  flex: 1;
}

.newsletter-image img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news-error-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.email-error-message {
  color: #292929;
  font-weight: 400;
}

.email-error-icon {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-error-icon svg {
  width: 100%;
  height: 100%;
}

.new-email-confirmation {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #492929;
  border-radius: 4px;
  padding: 12px;
}

.new-email-confirmation h3 {
  letter-spacing: 0;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.new-email-confirmation p {
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 768px) {
  .newsletter-wrapper {
    grid-template-columns: 1fr;
  }
}
